@font-face {
  font-family: headerFont;
  src: url(market_deco.ttf);
}

* {
  font-family: headerFont;
}

#pic {display:block; margin-left:auto; margin-right:auto; padding-bottom:20px}
#mission {color: rgb(96,82,82);text-align:center; line-height: 85px; font-size: 75px; font-weight: 100;}
#milk {color: rgb(152,213,212);}
#sugar {color: rgb(248,154,146);}
#craft {color: rgb(249,222,209);}

#aboutTitle {text-align:center; font-size: 75px; color: rgb(150,125,105); padding-top: 50px; text-decoration: underline;}
#summary {text-align: center; font-size: 40px; color: rgb(150,125,105); line-height: 60px; padding-bottom: 10px; margin-left: 15%; margin-right: 15%}
#address {color: rgb(248,154,146)}
#contact {text-align:center; font-size: 30px; color: rgb(249,222,209); line-height: 50px; padding-bottom: 40px}
#order {margin-left: 41%; font-size: 50px; color: rgb(248,154,146); padding-bottom: 40px}


#gotoMenu {margin-left: 42.5%; font-size: 40px; color: rgb(150,125,105); padding-top: 100px; padding-bottom: 90px}
#menuTitle {text-align:center; font-size: 150px; color: rgb(96,82,82); padding-top:30px; padding-bottom:50px; text-decoration: underline}
